#pragma once
#include "{{node_name}}/parameter_helper.hpp"
#include "rclcpp/rclcpp.hpp"

DEFINE_PARAMS(Parameters,

    {% for d in keys -%}
    ({{d}})
    {% endfor -%}
    ,
    {% for t in values -%}
    ({{t}})
    {% endfor -%}

)